<!DOCTYPE html>
<html>
<head>
  <title>GISCollective</title>
  <meta http-equiv="content-type" charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,600,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href="/public/style.css" rel="stylesheet">
</head>
<body>
  {% include nav.html %}
  <div class="wrapper hfeed">
  <div id="container">