<div id="navbar">
  <div class="wrapper">
    <div id="branding">
      <div id="site-title"><h1><a href="/" title="GISC" rel="home">GISC</a></h1></div>
    </div>
    <nav id="nav">
      <button class="nav-expand"><i class="icon hamburger"></i></button>
      <ul id="menu-gisc-2" class="menu">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-111"><a href="/">Home</a></li>
        <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="/tutorials/">Tutorials</a></li>
        <li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192"><a href="/resources/">Resources</a></li>
        <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="/about/">About</a></li>
      </ul>
    </nav>
  </div>
</div>