<aside id="sidebar">
  <p id="site-description">Collective spatial learning from students and professionals</p>
  <div id="primary" class="widget-area">

    <div class="side">
      <span class="side-title">Categories</span>
      <ul>
        {% for category in site.categories %}
        <li><a href="{{site.baseurl}}/categories/?tag={{category[0]}}">{{category[0]}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="side">
      <span class="side-title">Recent posts</span>
      <ul>
        {% for post in site.posts | limit: 5 %}
        <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</aside>
