---
layout: default
---

{{content}}

{% for post in site.posts | limit: 1 %}
<a href="{{post.url}}" class="home-post">
  <h1 class="home-post-title">{{post.title}}</h1>
  <span class="home-post-date">{{post.date | date: '%B %d, %Y'}}</span>
  <p>{{post.excerpt | strip_html}}</p>
</a>
{% endfor %}

{% for post in site.posts | offset: 1 %}
<a href="{{post.url}}" class="home-post">
  <h2 class="home-post-title">{{post.title}}</h2>
  <span class="home-post-date">{{post.date | date: '%B %d, %Y'}}</span>
</a>
{% endfor %}